html, body {
    background-color: #0E1119;
    color: #BFBFBF;
    font-family: 'Akshar', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
}


.scroll-to {
    position: absolute;
    transform: translateY(-140px);
}


.menu {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: start;
    background-color: #0C2360;
    box-shadow: 0 5px 5px #0C2360;
    border-bottom-right-radius: 10px;
    row-gap: 30px;
}

.menu.--opened {
    display: flex;
    transform: translateY(0);
    animation-name: open-menu;
    animation-duration: 1s;
}

@keyframes open-menu {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.menu__section {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-right: 20px;
}

.menu__section.--selected {
    color: #FFFFFF;
}

.menu__close-btn {
    padding: 0;
    background: none;
    border: none;
    height: fit-content;
    align-self: start;
}


.nav {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #090B10;
    transition-property: background-color, box-shadow, color;
    transition-duration: 300ms;
}

.nav.--fixed {
    background-color: #0C2360;
    box-shadow: 0 5px 5px #0C2360;
    color: #FFFFFF;
}

.nav__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu-btn {
    display: none;
    padding: 0;
    background: none;
    border: none;
    height: fit-content;
    margin-left: 20px;
}

.nav__menu-btn img {
    width: 33px;
}

.nav__sections {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__sections-close-btn img {
    width: 23px;
}

.nav__section {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-right: 20px;
}
.nav__section:last-child {
    margin-right: 0;
}
.nav__section.--selected {
    color: #FFFFFF;
}


.content {
    padding-left: 20px;
    padding-right: 20px;
}

.content__container {
    padding-top: 40px;
    padding-bottom: 150px;
}

.content__home {
    margin-top: 100px;
    display: flex;
    margin-bottom: 150px;
}

.content__home-selphy {
    width: 137px;
    height: 137px;
    border-radius: 68.5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 13px;
}

.content__home-name {
    position: sticky;
    left: 0;
    display: flex;
    align-self: center;
    font-size: 44px;
    line-height: 48px;
    color: #FFFFFF;
}

.content__home-about {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    align-self: end;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}


.content__section {
    margin-bottom: 150px;
}
.content__section:last-child { margin-bottom: 0; }

.content__section-title {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
}

.content__section-description {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}


.content__section-items {
    margin-top: 50px;
}

.content__subsection {
    margin-bottom: 100px;
}
.content__subsection:last-child { margin-bottom: 0; }

.content__subsection-title {
    text-align: center;
    color: #E3E3E3;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 50px;
}

.content__section-list,
.content__subsection-list {
    list-style-type: square;
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
    max-width: 368px;
    margin-top: -20px;
}

.content__section-list-item,
.content__subsection-list-item {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
}
.content__section-list-item:last-child,
.content__subsection-list-item:last-child { margin-bottom: 0; }

.content__subsection-items,
.content__section-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 26px;
    column-gap: 46px;
}

.content__subsection-item,
.content__section-item {
    width: 100px;
}

.content__subsection-item-img,
.content__section-item-img {
    width: 100%;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.content__subsection-item-name,
.content__section-item-name {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}


.content__about_me {
    max-width: 368px;
    margin-left: auto;
    margin-right: auto;
}

.content__contacts-items {
    column-gap: 60px;
    row-gap: 30px;
}

.content__contacts-item {
    width: 67px;
    height: 76px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.content__contacts-item a {
    display: block;
    width: 100%;
    height: 100%;
}


.footer {
    background-color: #090B10;
    padding-left: 20px;
    padding-right: 20px;
}

.footer__container {
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}

.footer__copyright {
    max-width: 368px;
    text-align: center;
}

.footer__copyright-title {
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer__copyright-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #BFBFBF;
}

.footer__copyright-description-link {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .nav .nav__container {
        height: 80px;
    }

    .content__home {
        margin-top: 80px;
        flex-direction: column;
    }

    .content__home-selphy {
        position: static;
        align-self: center;
        margin-bottom: 20px;
    }

    .content__home-name {
        position: static;
        align-self: flex-start;
        margin-bottom: 30px;
    }

    .content__home-about {
        position: static;
        align-self: flex-start;
        transform: none;
    }

    .content__home-lang-wrapper {
        display: none;
    }

    .nav__sections {
        display: none;
    }

    .nav__menu-btn {
        display: block;
    }

    .nav__lang-wrapper {
        display: block;
    }
}